body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #c5c4b6; 
  }

h1{
    color: #000000;
}
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 2px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #fffb04; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 10px; 
  }

  footer {
    text-align: auto;
    background-color: #6a8892;
    position: static;
    width: 100%;
    color: rgb(0, 0, 0);
  }
.a,.b,.c{
    text-align: left;
    color: black;
}


p.DerechoA{
    text-align: center;
    color: black;
}

table.pie, th.colm1, th.colm2, th.nada{
   background-color: #6a8892;
    font-style: padding 50px;
    text-align: auto;
    border-color: #6a8892;
    color: black;
    
}

p.pi{
    text-align: left;
    color: black;
}


a{
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-decoration: solid;
    display: inline;
}

a:hover, a:active {
    background-color: #F2CB05;
}



.foto1, .foto2, .foto3{
    float: right; 
}



table, td{
    background-color: #bebcb3;
    font-style: padding 30px;
    text-align: left 28px;
}
.color{
    background-color:#bebcb3 ;
    font-size: 24px;
}
  
  