body {
background-color:#FFFFFF;
    
}


.foto1, .foto2, .foto3{
float: right; 
}



h3{
background-color: #B3B6B7;

border-collapse: collapse;
padding: 19px;
text-align: center;
position: sticky  ; 
top: 0;
border-radius: 0px;
}

.fotof{

width: 100%;
height: auto;
}

a{
color: rgb(0, 0, 0);
padding: 14px 25px;
text-decoration: solid;
display: inline;
}

a:hover, a:active {
background-color: #F2CB05;
}

table, td{
    background-color: #F9E79F;
    font-style: padding 30px;
    text-align: left 28px;
}
img.frisby{

float: left;

}

.imagenes{


position: static;
width: 80%;
height: auto;

}

.mapa{

position: static;
width: 100%;
height: 100;
}

footer {
    text-align: auto;
    background-color: #6a8892;
    position: static;
    width: 100%;
    color: rgb(0, 0, 0);
  }
.a,.b,.c{
    text-align: left;
    color: black;
}


p.DerechoA{
    text-align: center;
    color: black;
}

table.pie, th.colm1, th.colm2, th.nada{
   background-color: #6a8892;
    font-style: padding 50px;
    text-align: auto;
    border-color: #6a8892;
    color: black;
    
}

p.pi{
    text-align: left;
    color: black;
}
.parrafo{
    font-size: 24px;
}









