body{
  background-color: antiquewhite;
}
.titulo{
    text-align: center;
    font-size: 60px;
    color: #6a6a6a;
    background-color: #f5df75;
    
}
h3{
    color: red;
    font-size: 45px;
  
}

p{
    color: #6a6a6a;
    font-size: 25px;
}
img.img1, img.img2, img.img3 {
    width: 400px;
    height: 400px;
    margin: auto;
}

footer {
    text-align: auto;
    background-color: #6a8892;
    position: static;
    width: 100%;
    color: rgb(0, 0, 0);
  }
.a,.b,.c{
    text-align: left;
    color: black;
}


p.DerechoA{
    text-align: center;
    color: black;
}

table.pie, th.colm1, th.colm2, th.nada{
   background-color: #6a8892;
    font-style: padding 50px;
    text-align: auto;
    border-color: #6a8892;
    color: black;
    
}

p.pi{
    text-align: left;
    color: black;
}


a{
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-decoration: solid;
    display: inline;
}

a:hover, a:active {
    background-color: #F2CB05;
}



.foto1, .foto2, .foto3{
    float: right; 
}



table, td{
    background-color: #bebcb3;
    font-style: padding 30px;
    text-align: left 28px;
}
.color{
    background-color:#bebcb3 ;
    font-size: 24px;
}













































